.tableContainer {
  position: relative;
  width: 100%;
  overflow: auto;
}
.table {
  width: 100%;
  caption-side: bottom;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0px 0px 40px 0px rgba(98, 18, 182, 0.12);
}
.table * {
  white-space: nowrap;
}

.tableTop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.tableTop .tableTitle,
.tableTop .tableButton {
  border-radius: 4px;
  border: 1px solid var(--border-color);
  box-shadow: 0px 0px 40px 0px rgba(98, 18, 182, 0.12);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  padding: 14px 1rem;
  font-size: .875rem;
}
.tableTop .tableTitle {
  background-color: white;
  font-weight: 600;
}

.tableHeader > tr {
  border-bottom: 1px solid var(--border-color);
}
.tableBody > tr:last-child {
  border-width: 0px;
}

.tableRow {
  border-bottom: 1px solid var(--border-color);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.tableRow:hover {
  background-color: #f8f4f8;
}

.tableHead {
  padding: 1.2rem 1rem;
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
  color: black;
  background-color: #fff;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.tableCell {
  padding: 1rem;
  vertical-align: middle;
  background-color: #fff;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
