.formContainer {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
  font-family: var(--font-family) !important;
  box-sizing: border-box;
}

.formContainer::-webkit-scrollbar {
  width: 8px;
}

.formContainer::-webkit-scrollbar-track {
  background: transparent;
}

.formContainer::-webkit-scrollbar-thumb {
  background-color: hsl(var(--border));
  border-radius: 4px;
}

.formHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon,
.icon svg {
  width: 1rem;
  height:1rem;
  margin-right: 10px;
}

.title {
  color: hsl(var(--primary));
  font-size: 1.05rem;
  margin: 0;
  flex-grow: 1;
}

.closeButton {
  background: none;
  border: none;
  color: #ff4d4f;
  cursor: pointer;
  font-size: 18px;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.required {
  color: #ff4d4f;
}

.input {
  padding: 0.5rem;
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  font-size: 0.875rem;
  background-color: transparent;
  color: hsl(var(--foreground));
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 calc(1px + 1px) hsl(var(--ring)) !important;
}

.dateSelector {
  width: 100%;
}

.dateSelector :global(.calendar_button) {
  display: none !important;
}

.dateSelector :global([class*="select-trigger"]) {
  cursor: pointer;
}

.dateSelector :global([class*="select-trigger"]) {
  box-shadow: none !important;
}

.dateSelector :global([class*="select-trigger"]):focus {
  box-shadow: none !important;
}

.dateRange {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.dateInput {
  flex: 1;
  min-width: 0;
}

.dateLabel {
  display: block;
  margin-bottom: 0.5rem;
  color: hsl(var(--foreground));
  font-size: 0.875rem;
}

.submitButton {
  width: 100%;
}

.datePickerContainer {
  width: 100%;
}

.datePickerTrigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  gap: 8px;
  padding: 8px 12px;
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 6px;
  box-shadow: none !important;
}
.datePickerTrigger span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendarIcon {
  width: 16px;
  height: 16px;
  min-width: 16px;
}
