.DuelInput{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p.ImageUploadSize{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--header-color);
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 0;
}

p.ImageUploadSize span{
    font-weight: 700;
    margin-right: 5px;
}

.imgUploader label{
    width: 100%;
}

.SelectImgButton{
    width: 100% !important;
    border: 1px solid var(--main-color) !important;
    color: var(--text-color) !important;
    background: var(--white-color) !important;
    padding: 12px 20px !important;
    box-shadow: none !important;
    border-radius: 10px !important;
    font-size: 15px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
}